.snack {
  &__info,
  &__loading {
    border-color: var(--additional-blue-primary) !important;
  }

  &__success {
    border-color: var(--additional-green-primary) !important;
  }

  &__warning {
    border-color: var(--additional-gold-primary) !important;
  }

  &__error {
    border-color: var(--additional-red-primary) !important;
  }
}

// * SnackMessage * //
.snackMessageWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 36px;
  width: 100%;
}

.snackMessage {
  display: flex;
  align-items: center;
  gap: 8px;

  &__info,
  &__loading {
    color: var(--additional-blue-primary);
  }

  &__success {
    color: var(--additional-green-primary);
  }

  &__warning {
    color: var(--additional-gold-primary);
  }

  &__error {
    color: var(--additional-red-primary);
  }
}

.snackMessageText {
  color: var(--content-primary);
  font: var(--body-text-md);
}

.snackIcon {
  width: 16px;
  height: 16px;
}

.loadingIcon {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.solanaFMBtn {
  padding: 2px;
  height: 24px;
  width: 24px;
}
// * SnackMessage * //

// * SnackDescription * //
.snackDescriptionWrapper {
  font: var(--important-text-sm);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 12px 12px 36px;
  margin-bottom: 16px;
  gap: 8px;

  &__info,
  &__loading {
    background-color: var(--additional-blue-secondary);
    color: var(--additional-blue-primary-deep);
  }

  &__success {
    background-color: var(--additional-green-secondary);
    color: var(--additional-green-primary-deep);
  }

  &__warning {
    background-color: var(--additional-gold-secondary);
    color: var(--additional-gold-primary-deep);
  }

  &__error {
    background-color: var(--additional-red-secondary);
    color: var(--additional-red-primary-deep);
  }
}

.snackCopyButton {
  padding: 4px 8px;
  height: 24px;
}
// * SnackDescription * //

// * SnachProgressBar * //
.snackProgress {
  animation-name: shrink;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

  background-color: currentColor;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 0;

  position: absolute;
  bottom: 0;
  left: 0;
  height: 6px;

  &__info,
  &__loading {
    background-color: var(--additional-blue-primary-deep);
  }

  &__success {
    background-color: var(--additional-green-primary-deep);
  }

  &__warning {
    background-color: var(--additional-gold-primary-deep);
  }

  &__error {
    background-color: var(--additional-red-primary-deep);
  }
}

@keyframes shrink {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
// * SnachProgressBar * //
