.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  gap: 16px;
  width: 100%;

  @media (max-width: 960px) {
    padding: 8px 16px;
  }
}

.filterContent {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.categoryDropdown {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;

  @media screen and (max-width: 960px) {
    display: flex;
    grid-template-columns: unset;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.categoryDropdownItem {
  background: var(--action-primary);
  color: var(--content-secondary);
  font: var(--body-text-md);
  min-width: 98px;

  @media (max-width: 960px) {
    min-width: 46px;
  }

  &.active {
    background: var(--bg-primary);
    border-color: var(--bg-border-active);
    color: var(--content-primary);
    pointer-events: none;
  }
}

// * CategoryContent * //
.categoryContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.categoryContentTitle {
  color: var(--content-tertiary);
  font: var(--important-text-sm);
  text-transform: uppercase;
}

.categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.valueWithRadio {
  cursor: pointer;

  display: flex;
  align-items: center;
  text-wrap: nowrap;
  column-gap: 8px;
}

.radioCircle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  content: '';
  width: 16px;
  height: 16px;
  border: var(--border-primary);
  background: var(--action-primary);
  border-radius: 100%;

  &.active {
    border-color: var(--bg-border-active);

    &::before {
      content: '';
      display: block;
      background: var(--additional-green-primary);
      width: 7px;
      height: 7px;
      border-radius: 100%;
    }
  }
}

// * CategoryContent * //
