// * Multiplier slider * //
.sliderContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 4px 24px 24px;
}

.sliderLabels {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.multiplierValueLabel {
  color: var(--content-secondary);
  font: var(--important-text-sm);
  text-transform: uppercase;

  display: flex;
  align-items: center;
  gap: 2px;

  @media (max-width: 640px) {
    font: var(--important-text-xs);
  }
}

.multiplierValue {
  color: var(--additional-green-primary-deep);
  display: flex;
  align-items: center;
  gap: 2px;
  font: var(--body-text-md);
  white-space: nowrap;
  text-transform: lowercase;

  @media (max-width: 640px) {
    font: var(--body-text-sm);
  }
}
.multiplierValueDisabled {
  color: var(--content-secondary);
}

// * Multiplier slider * //
