// * EscrowWarningModal * //
.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;

  @media (max-width: 960px) {
    padding: 16px;
  }

  h3 {
    font: var(--title-xl);
    text-transform: uppercase;
  }

  p {
    font: var(--body-text-lg);
    margin-top: 12px;
    text-align: center;
  }

  .actionsButtons {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 24px;
    width: 100%;
  }

  .actionButton {
    width: 100%;
  }
}
// * EscrowWarningModal * //
