.modal {
  border-radius: 6px;
  background-color: var(--bg-tertiary);
  color: var(--content-primary);

  @media (max-width: 960px) {
    border-radius: 6px 6px 0 0;
    position: absolute;
    bottom: 0;
    max-width: none;
    width: 100%;
  }
}
