@use './base/reset' as *;
@use './base/scrollBar' as *;
@use './abstracts/variables' as *;

html body {
  background-color: var(--bg-tertiary);
  color: var(--content-primary);
  font: var(--body-text-md);
}
