@import './base/reset.scss';
@import './base/scrollBar.scss';
@import './abstracts/variables.scss';

html body {
  background-color: var(--bg-tertiary);
  color: var(--content-primary);
  font: var(--body-text-md);
}
