.slider {
  padding: 2px 0 8px;
}

.labelWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.labelText {
  color: var(--content-secondary);
  font: var(--important-text-sm);
  text-transform: uppercase;
  white-space: nowrap;

  @media (max-width: 640px) {
    font: var(--important-text-xs);
  }
}

.couterSliderContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  min-width: 200px;
  width: 100%;

  @media (max-width: 960px) {
    min-width: unset;
  }
}

.counterSlider {
  padding: 0;
  width: 100%;
}

.counterInputContainer {
  max-width: 72px;
  min-width: 72px;

  input {
    @media (max-width: 640px) {
      padding: 8px 24px 8px 4px !important;
    }
  }

  @media (max-width: 960px) {
    max-width: 58px;
    min-width: 58px;
  }
}

//? Mantine slider
.mantineSliderTrack {
  &::before {
    background: var(--accent-primary-sub);
  }

  &[data-disabled='true'] {
    &::before {
      background: var(--content-secondary);
    }
  }
}

.mantineSliderBar {
  background: var(--accent-primary);

  &[data-disabled='true'] {
    background: var(--content-secondary);
  }
}

.mantineSliderThumb {
  border: 2px solid var(--accent-primary);
  height: 14px;
  width: 14px;

  &[data-disabled='true'] {
    border: 2px solid var(--content-secondary);
    display: unset;
  }
}

.mantineSliderMarkWrapper {
  top: -2px;
}

.mantineSliderMark {
  border-color: var(--accent-primary-sub);
  height: 8px;
  width: 8px;

  &[data-filled='true'] {
    border-color: var(--accent-primary);
  }
}

.mantineSliderMarkLabel {
  color: var(--content-primary);
  font: var(--body-text-sm);
}

.mantineSliderLabel {
  background-color: transparent;
  color: var(--content-primary);
  font: var(--body-text-sm);
  top: 10px;
}
